@using Borowik.Books.Entities

<Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Padding="Padding.Is3" Background="Background.Dark" TextColor="TextColor.Light">
    <Div>
        <Heading Size="HeadingSize.Is1">
            @(Bookshelf?.Name ?? nameof(Bookshelf))
        </Heading>

        <Text>
            @(Bookshelf?.Description)
        </Text>
    </Div>

    <Button Clicked="OpenEditBookshelfModalAsync">
        <Icon Name="IconName.Edit" TextColor="TextColor.Light" IconSize="IconSize.x2"></Icon>
    </Button>
</Div>

<EditBookshelfModal @ref="_editBookshelfModal" Bookshelf="Bookshelf" BookshelfUpdated="BookshelfUpdated"/>

@code
{
    [Parameter]
    [EditorRequired]
    public Bookshelf? Bookshelf { get; set; }

    [Parameter]
    public EventCallback BookshelfUpdated { get; set; }

    private EditBookshelfModal _editBookshelfModal = null!;

    private async Task OpenEditBookshelfModalAsync()
    {
        await _editBookshelfModal.ShowAsync();
    }
}