<Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Padding="Padding.Is1" Background="Background.Primary">
    <Heading Size="HeadingSize.Is1" Margin="Margin.Is0" TextColor="TextColor.Primary">Borowik</Heading>
    <Button>Settings</Button>
</Div>